In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [17]:
ADF=pd.read_csv("Automobile.csv")
ADF.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8.0,307.0,130.0,3504.0,12.0,70,usa
1,buick skylark 320,15.0,8.0,350.0,165.0,3693.0,11.5,70,usa
2,plymouth satellite,18.0,8.0,318.0,150.0,3436.0,11.0,70,usa
3,amc rebel sst,16.0,8.0,304.0,150.0,3433.0,12.0,70,usa
4,ford torino,17.0,NaN,302.0,140.0,3449.0,10.5,70,usa

In [18]:
ADF.info()
ADF.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     395 non-null    float64
 3   displacement  395 non-null    float64
 4   horsepower    386 non-null    float64
 5   weight        396 non-null    float64
 6   acceleration  395 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(6), int64(1), object(2)
memory usage: 28.1+ KB

(398, 9)

In [19]:
ADF.isnull().sum()

name             0
mpg              0
cylinders        3
displacement     3
horsepower      12
weight           2
acceleration     3
model_year       0
origin           0
dtype: int64

In [20]:
ADF.drop("horsepower",axis=1,inplace=True)
ADF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     395 non-null    float64
 3   displacement  395 non-null    float64
 4   weight        396 non-null    float64
 5   acceleration  395 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
dtypes: float64(5), int64(1), object(2)
memory usage: 25.0+ KB

In [21]:
for col in ADF.select_dtypes(include=["float64", "int64"]).columns:
    ADF[col] = ADF[col].fillna(ADF[col].median())

In [22]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import pandas as pd

numeric_cols = ADF.select_dtypes(include=["float64", "int64"]).columns

minmax_scaler = MinMaxScaler()
ADF_minmax = pd.DataFrame(
    minmax_scaler.fit_transform(ADF[numeric_cols]),
    columns=numeric_cols
)
standard_scaler = StandardScaler()
ADF_standard = pd.DataFrame(
    standard_scaler.fit_transform(ADF[numeric_cols]),
    columns=numeric_cols
)
print("Min-Max Scaled Data:")
print(ADF_minmax.head(), "\n")

print("Standard Scaled Data:")
print(ADF_standard.head())

Min-Max Scaled Data:
        mpg  cylinders  displacement    weight  acceleration  model_year
0  0.239362        1.0      0.617571  0.536150      0.238095         0.0
1  0.159574        1.0      0.728682  0.589736      0.208333         0.0
2  0.239362        1.0      0.645995  0.516870      0.178571         0.0
3  0.186170        1.0      0.609819  0.516019      0.238095         0.0
4  0.212766        0.2      0.604651  0.520556      0.148810         0.0

Standard Scaled Data:
        mpg  cylinders  displacement    weight  acceleration  model_year
0 -0.706439   1.515897      1.096516  0.641001     -1.301636   -1.627426
1 -1.090751   1.515897      1.510055  0.865428     -1.484357   -1.627426
2 -0.706439   1.515897      1.202305  0.560255     -1.667078   -1.627426
3 -0.962647   1.515897      1.067664  0.556693     -1.301636   -1.627426
4 -0.834543  -0.847774      1.048430  0.575692     -1.849799   -1.627426

#### Option 2:This method scales the data to a fixed range, usually between 0 and 1. 
###  MinMaxScaler()

In [24]:
import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
column_names = [
    'mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
    'acceleration', 'model_year', 'origin', 'name'
]
ADF = pd.read_csv(url, sep='\s+', names=column_names)
X = ADF[["name", "mpg", "cylinders", "displacement", "horsepower", "weight", "model_year", "origin"]]
Y = ADF["acceleration"]
print(Y.head())
ADF = pd.concat([X, Y], axis=1)
print(ADF.head())
ADF.to_csv("NewAuto_0434_.csv", index=False)

0    12.0
1    11.5
2    11.0
3    12.0
4    10.5
Name: acceleration, dtype: float64
                        name   mpg  cylinders  displacement horsepower  \
0  chevrolet chevelle malibu  18.0          8         307.0      130.0
1          buick skylark 320  15.0          8         350.0      165.0
2         plymouth satellite  18.0          8         318.0      150.0
3              amc rebel sst  16.0          8         304.0      150.0
4                ford torino  17.0          8         302.0      140.0

   weight  model_year  origin  acceleration
0  3504.0          70       1          12.0
1  3693.0          70       1          11.5
2  3436.0          70       1          11.0
3  3433.0          70       1          12.0
4  3449.0          70       1          10.5